#ignore eclipse files:

#ignore pictures:
images_notGit/

#ignore unknown automatically created files:
code/.metadata
code/.recommenders

#ignore files created by eclipse:
bin/
tmp/
.metadata
#local.properties
.settings/
.loadpath

# Eclipse Core
.project

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# JDT-specific (Eclipse Java Development Tools)
.classpath

