#ignore pictures:
images_notGit/

#ignore unknown automatically created files:
code/.metadata
code/.recommenders

 # general
*~
*.log
tmp
dump

# Eclipse
.settings
.cache
.cache-main
.project
.classpath
.scala_dependencies
bin/
tmp/
.metadata
.loadpath
# Locally stored "Eclipse launch configurations"
*.launch
# JDT-specific (Eclipse Java Development Tools)
.classpath
# External tool builders
.externalToolBuilders/

# SBT
dist
project/boot
project/target
project/plugins/target
target
.target
.sbtserver/

# Play
logs
RUNNING_PID
